.Calculator{
    background-color: #2d2828;
    color: #4b4b4b;
    height: 800px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 60px;
    grid-gap: 20px;

}

.grid-item {
    display: grid;
    align-items: center;
    justify-items: center;

}