.input-container{
    border: 5px solid black;
    max-width: 400px;
    margin-top: 30px;
    padding: 40px;
    color: #fdfafa;
}
.input-form{
    display: flex;
    flex-direction: column;
}

.OtherInputFields {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 20px;
}

.genderField{
    margin-top: 20px;
    width: 200px;
}