.protein-context-container {
    width: 100%;
    position: relative;
    background: #d0353a;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 100px;
}

.protein-description h1{
    width: 800px;
    font-size: 120px;
    margin-left: 20%;
    padding: 10px;
    line-height: 1em;
    font-family: sans-serif;
}

.protein-description p{
    margin-left: 20%;
    padding: 10px;
    font-size: 1.25rem;
    width: 607px;
    letter-spacing: -0.01em;
}

.protein-description ul{
    margin-left: 20px;
    margin-top: 20px;
}

.protein-context-container img{
    width: 400px;
    height: 400px;
}

.faceUp{
    margin-left: 150px;
    margin-top: 200px;
}

.upsideDown{
    transform: rotate(180deg);
    margin-bottom: 100px;
}
