.carbohydrates-context-container{
    width: 100%;
    position: relative;
    background: #d0353a;
    height: 600px;
}

.carbohydrates-context-container h1 {
    width: 800px;
    font-size: 6em;
    margin-left: 30px;
    padding: 10px;
    line-height: .9em;
    font-family: sans-serif;
}

.carbohydrates-description {
    text-align: right;
    margin-left: 55%;
}

.carbohydrates-description p {
    margin-right: 30px;
}